# http://blog.innerlogic.gr/gitignore-for-django/
*~
*.orig
*.pyc
*.rej
.installed.cfg
__minitage__*
bin/*
develop-eggs
downloads
eggs
log
parts
media/uploads
tmp
.DS_Store

# https://devcenter.heroku.com/articles/deploying-python#how-to-keep-build-artifacts-out-of-git
venv
*.pyc
staticfiles
.env
