{% extends 'base.html' %}

{% block content %}
    {% if articles %}
        <ul>
        {% for article in articles %}
            <li><a href="{{ article.url }}/">{{ article.title }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No articles are available.</p>
    {% endif %}

    {{a.page_range}}

    <ul class="pagination">
        {% if articles.has_previous %}
            <li><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&laquo;</a></li>
        {% endif %}

        {% for i in paginator.page_range %}
            {% if articles.number == i %}
                <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
            {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if articles.has_next %}
            <li><a href="?page={{ articles.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><a href="#">&raquo;</a></li>
        {% endif %}
    </ul>
{% endblock %}
