{% extends 'base.html' %}

{% block content %}
    <div class="container">

        <div class="row articles-container">
            {% if articles %}
                {% for article in articles %}
                    <article class="col-md-6 col-md-offset-3">
                        <a href="{{ article.url }}/">{{ article.title }}</a>
                        <p>
                            &#x25B2; {{ article.up }}
                            &#x2022; {{ article.username }}
                            &#x2022; <span class="created_time">{{ article.created_time }}</span>
                        </p>
                        <hr>
                    </article>
                {% endfor %}

                <div class="col-md-6 col-md-offset-3 text-center">
                    <ul class="pagination">
                        {% if articles.has_previous %}
                            <li><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">&laquo;</a></li>
                        {% endif %}

                        {% for i in paginator.page_range %}
                            {% if articles.number == i %}
                                <li class="active"><a href="?page={{ i }}">{{ i }}</a></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if articles.has_next %}
                            <li><a href="?page={{ articles.next_page_number }}">&raquo;</a></li>
                        {% else %}
                            <li class="disabled"><a href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                </div>
            {% else %}
                <p>No articles are available.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script>
        $('.created_time').each(function (i) {
            var created_time = $(this).text();
            $(this).text(moment(created_time).fromNow());
        })
    </script>
{% endblock %}
